<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Temperature</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotspring of hotsprings" class="table-info">
        <td class="text-left">{{ hotspring.name }}</td>
        <td>{{ hotspring.lat }}</td>
        <td>{{ hotspring.lng }}</td>
        <td>{{ hotspring.temp }}</td>
        <td><a [routerLink]="['/hotspring-edit', hotspring._id]" class="btn btn-success">EDIT</a></td>
        <td><button class="btn btn-danger" type="button" (click)="deleteHotspring(hotspring._id)">DELETE</button></td>
      </tr>
    </tbody>
  </table>
</div>
