<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Hotsprings Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Hotsprings Latitude">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Hotsprings Longitude">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Hotsprings Temperature">
    </div>
  </div>
</form>
