<main role="main" class="inner cover">
  <h1 class="cover-heading text-shadow">A Bit About This Website</h1>
  <p class="lead text-shadow">I'm a fan of hotsprings. I'm a fan of Colorado. Safe to say I'm a fan of Colorado hotsprings. Since you've found yourself here, I'm betting you might be a fan too.</p>
  <p class="lead text-shadow">This website is meant to be a community resource for folks like you and I. Simply a list of hot springs in Colorado, for now, maybe more states in the future, anyway, a list of hot springs and important details like latitude, longitude, and temperature.</p>
  <p class="lead text-shadow">If you don't see your favorite soaking spot on the list feel free to add it with the form on the directory page! Also, if there's a hot spring with missing info and you're in the know, update its listing and share that knowledge with the rest of us!</p>
  <p class="lead">
    <a [routerLink]="['/hotsprings']" class="btn btn-md btn-secondary">Hotsprings Directory</a>
  </p>
</main>
